<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dfmco999.institucionapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InstitucionAPP"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frm_mainEstudiante"
            android:label="@string/title_activity_frm_main_estudiante" >
        </activity>
        <activity
            android:name=".frm_main_docente"
            android:label="@string/title_activity_frm_main_docente" >
        </activity>
        <activity
            android:name=".frm_main_director"
            android:label="@string/title_activity_frm_main_director" >
        </activity>
    </application>

</manifest>
